*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/.idea/codeStyles/codeStyleConfig.xml
/.idea/deploymentTargetSelector.xml
/app/release/output-metadata.json
/.idea/codeStyles/Project.xml
/app/release/v022.apk
/.idea/vcs.xml
/.gitignore
/Project_Default.xml
.idea
.gradle
.gitignore
